.featured{
    display: flex;
    align-items: center;
    margin-top: 20px;
    flex-direction: column;
}

.featured h1{
    font-size: 11px;
    font-weight: 700;
    color: var(--primary);
    letter-spacing: 5px;
}

.featured .brands{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
    align-items: center;
    width: 80%;
    gap: 40px;
}
.featured .brands div{
    display: flex;
}