.why{
    margin-top: 250px;
    width: 100%;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.why p{
    font-size: 20px;
    display: flex;
    text-align: center;
    color: var(--light-text);
}
.why .h2{
    font-size: 11px;
    letter-spacing: 5px;
    color: var(--primary);
    text-transform: uppercase;
    margin: 30px 0;
}
.why h1{
    text-align: center;
    font-size: 40px;
    color: var(--dark-text);
    font-weight: 900;
}
.why .cardflex{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
}

@media screen and (max-width: 450px) {
    .why p{
        font-size: 17px;
    }
    .why{
        padding: 0 15px;
    }
    .why h1{
        font-size: 30px;
    }
}